

.change-text h3 {
  display: inline-flex;
  align-item : center;
  color: white;
  font-weight:bold;
  font-size:1.5rem;
  vertical-align: top;

}
.home-content{
  margin-top:-6rem
}

.change-text h3 .word {
  position: absolute;
  display: flex;
  opacity: 0;
}
.change-text h3 .word .letter {
  transform-origin: center center 25px;
}
.change-text h3 .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.change-text h3 .word .letter.in {
  transition: 0.38s ease;
}
.change-text h3 .word .letter.behind {
  transform: rotateX(-90deg);
}
